<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>詳細表示</title>
</head>
<body>
    <h2><%= data.name %> の詳細</h2>
    <ul>
        <li>ID: <%= data.id %></li>
        <li>コード: <%= data.code %></li>
        <li>名前: <%= data.name %></li>
        <li>人口: <%= data.population %>人</li>
        <li>特産物・特徴: <%= data.specialty %></li>
    </ul>
    <a href="/city">一覧に戻る</a>
</body>
</html>