<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>マクドナルド商品一覧</title>
</head>
<body>
    <h2>マクドナルド人気商品トップ10</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>商品名</th>
            <th>重量</th>
            <th>価格</th>
            <th>操作</th>
        </tr>
        <% for(let item of data) { %>
        <tr>
            <td><%= item.id %></td>
            <td><a href="/mac/<%= item.id %>"><%= item.name %></a></td>
            <td><%= item.weight %>g</td>
            <td><%= item.price %>円</td>
            <td>
                <a href="/mac/edit/<%= item.id %>">編集</a>
                <a href="/mac/delete/<%= item.id %>">削除</a>
            </td>
        </tr>
        <% } %>
    </table>
    <br>
    <a href="/mac/create">新規商品の追加</a>
    <br><br>
    <a href="/">トップページに戻る</a>
</body>
</html>