<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>詳細表示</title>
</head>
<body>
    <h2><%= data.name %> の詳細</h2>
    <ul>
        <li>ID: <%= data.id %></li>
        <li>商品名: <%= data.name %></li>
        <li>重量: <%= data.weight %>g</li>
        <li>価格: <%= data.price %>円</li>
    </ul>
    <a href="/mac">一覧に戻る</a>
</body>
</html>