<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>詳細表示</title>
</head>
<body>
    <h2><%= data.name %> の詳細</h2>
    <ul>
        <li>ID: <%= data.id %></li>
        <li>品種名: <%= data.name %></li>
        <li>甘さ: <%= data.sweetness %></li>
        <li>主な産地: <%= data.origin %></li>
    </ul>
    <a href="/strawberry">一覧に戻る</a>
</body>
</html>